<div class="section" id="education">
    <div class="container education">
        <div class="text-center text-info">Education</div>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="text-success">University Of Dayton, OH</div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-info">Master of Computer Science Jan 2018 to Dec 2019</div>
        </div>
        <div class="row">
            <ul>
                <li>Secured Masters degree with <b>3.84 GPA</b></li>
                <li>Worked on differernt courseworks related to <b>Web-application development</b>, <b>DBMS</b>,
                    <b>Aritficial Intelligence</b>, <b>Advanced Data Structures</b>
                </li>


            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="text-success">JNTUH, Hyderabad, India</div>
        </div>
        <div class="row">
            <div class=" col-sm-6 text-info">Bachelor of Computer Science Aug 2013 June 2017</div>
        </div>
        <div class="row">
            <ul>
                <li>JNTU, ranks <b>1st</b> in Hyderbad</li>
                <li> Secured Bachelor's in Computer Science</li>


            </ul>
        </div>
    </div>



</div>