<!-- Left-aligned -->
<div class="jumbotron">
  <div class="media">
    <div class="media-left">
      <img src="assets/img/profile_picture.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Bittu Chowdary</h4>
      <a href="https://www.linkedin.com/in/bittuchowdary/" target="/blank">LinkedIn profile</a>
    </div>
  </div>

  <!-- Right-aligned -->
  <div class="media">
    <div class="media-body">
      <div class="text-info">
        <h4 class="media-heading">About Me</h4>
      </div>
      <p>Software Engineer with around 4 years of experience in the
        areas of Requirements Gathering, Analysis, Design,
        Development, Implementation of Software Applications.
        Strong understanding of Object-Oriented development with
        languages like <b>Java</b>, <b>C#</b>.
        Proficient in REST-ful APIs along
        with proficiency in different RDBMS platforms like MySQL,
        Oracle.
        Automated deployements with CI-CD pipelines using Jenkins and Vagrant. 

      </p>
      <div class="row">
        <p class="col-md">
          Besides programming, I'm mostly interested in playing sports, both indoor and outdoor, but slightly inclined
          towards outdoor
          games, Especially sports called 'cricket' famous back in my home country.
          I also spend time playing PC games, particularly open world games, which doesn't tie you to explore
          yourself.

        </p>
      </div>
      <div class="text-info">
        <h4 class="media-heading">Summary</h4>
      </div>
      <div class="row">
        <p class="col-md">
          <li> Experienced in IT around 4 years in the areas of Requirements Gathering, Analysis,
            Design, Development, Implementation of Software Applications.</li>

          <li>Strong understanding of Object-Oriented development with languages like Java & C#.</li>

          <li>Experience with Java, C#, Spring boot and .Net Framework.</li>
          <li>Knowledge of Software Development Life Cycle (SDLC) and Agile development (SCRUM) methodologies.</li>
          <li> Experience working with IDE Tools like Visual Studio, IntelliJ, Eclipse.</li>
          <li>Developed comprehensive testing suite for projects, including smoke-tests, unit tests, and functional tests to ensure high code quality and reliability.</li>
          <li>Experience with Version Control using bitbucket, TFS, GitHub, Azure Devops</li>
          <li>Proficiency in different RDBMS platforms like MySQL, Oracle and SQLServer.</li>
          <li>Knowledge on several AWS services like EC2 and S3 along with Terraform</li>
          <li>Excellent interpersonal and communication skills with multitasking ability.</li>          
          <li>Demonstrated willingness, interest, and aptitude to keep learning new technologies and
            acquire new skills.</li>


        </p>
      </div>

      <div class="row">
        <div class="col-md-3">




          <a href="mailto:bittuchowdary.t@gmail.com" data-toggle="tooltip" title="click to email"
            class="btn btn-info btn-md">
            Email-Me
          </a>

        </div>

        <div class="col-md-9">
          <a class="btn btn-info btn-md" href="tel:646-427-2921" data-toggle="tooltip" title="click to call!">
            Call : 646-427-2921
          </a>
        </div>


      </div>

    </div>





  </div>
