<!-- Left-aligned -->
<div class="jumbotron">
<div class="media">
        <div class="media-left">
          <img src="assets/img/profile_picture.jpg" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Bittu Chowdary</h4>
          <a href="https://www.linkedin.com/in/bittu-chowdary-talluri-77914a9a" target="/blank">LinkedIn profile</a>
        </div>
      </div>
      
      <!-- Right-aligned -->
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">About Me</h4>
          <p>I was born in 1996. I'm a Graduate student, with Master's degree in Computer science. 
            I've worked on several languages including Java, C# , Python for my individual projects as well as course projects.
            I like building new stuff and work with other people – nothing really interesting is ever built alone!
            I mainly beleive, logical thinking is thing which solves the complex problems, and programming language is just a tool.
            I always strive forward to learn something new. And that's the reason you see bunch of languages in my Resume.
            To start a fresh language, knowing the fundementals of the language is very importent. If you have a strong foundation,
            you can do build upon it, that's what I learnt from my experience of learning the new languages.
           </p>
           <div class="row">
             <p class = "col-md">
             Besides programming,I'm mostly interested in playing sports, both indoor and outdoor, but slighthy inclined towards outdoor
             games, Especially sports called 'cricket' famous back in my home country.
             I also spend time playing console games, particularly open world games, which doesn't tie you to explore yourself.

            </p>
           </div>
           <div class = "row">
           <div class="col-md-3">      
                 
  
                 
  
                  <a href="mailto:bittuchowdary.t@gmail.com" data-toggle="tooltip" title="click to email" class="btn btn-info btn-md">
                      Email-Me 
                    </a>
              
          </div>

          <div class = "col-md-9">
              <a class="btn btn-info btn-md" href="tel:646-427-2921"  data-toggle="tooltip" title="click to call!">
                  Call  : 646-427-2921
               </a>
          </div>

          
        </div>
        
        </div>
       
  
  


        </div>
       
   