<div class="section" id="Experience">
    <div class="container Experience">
        <div class="text-center text-info">Work Experience</div>


        <div class="jumbotron">
            <div class="row">
                <div class="text-success">Tata Consultancy Services, Cincinati, OH </div>
            </div>
            <div class="row">
                <div class="text-info">Software-Engineer, August 2020 - Present</div>
                <ul>
                    <li>Worked and developed <b>RESTful API</b> in Java, <b>Spring boot</b> and debugged using IntelliJ.
                    </li>
                    <li>Participated in Agile- daily scrum methodology 14-day sprint and development process</li>
                    <li> Created database objects like tables and added columns to existing tables using <b>MSSQL</b>.
                    </li>
                    <li>Worked on <b> Hibernate </b>classes to communicate with database</li>
                    <li>Implemented convention-based CRUD actions like <b>GET</b>,<b>POST</b>,<b>PUT</b> and
                        <b>DELETE</b>.</li>
                    <li> Develop code for exception handling and session management.</li>
                    <li> Used <b>Maven</b> build tools to build jar files and participated in build and deployment
                        schedules.</li>
                    <li>Improvised the performance of the application by limiting the DB calls, which is essential part
                        of the
                        business.</li>
                </ul>
            </div>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="text-success">Medsys Software Solutions, Perrysburg, OH </div>
            </div>
            <div class="row">
                <div class="text-info">Software-Developer, May 2019 - August 2020</div>
                <ul>
                    <li>Developed and maintained existing web-application on .Net framework with C# as
                        server-side language and Entity-Framework as ORM for database interactions.</li>
                    <li>Worked with different programming front-end languages like jQuery, AJAX, JavaScript
                        and database technologies like SQL, and used LINQ as integrated query for database
                        communication</li>
                    <li>Worked with different data formats like JSON and XML for data interchanging and used Azure
                        Devops for Version controlling</li>
                    <li>Involved in Software Development Life Cycle -<b>Design</b>, <b>Developing</b> and
                        <b>Implementation</b> of
                        the project</li>
                    <li> Develop code for exception handling and session management.</li>
                    <li> Perform code reviews to implement performance and coding conventions guidelines</li>
                    <li> Contributed in development of product through software-lifecycle from requirement
                        definition to successful deployment in an Agile-methodology.
                    </li>
                </ul>
            </div>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="text-success">University of Dayton Information Technology, Dayton, OH</div>
            </div>
            <div class="row">
                <div class="text-info">IT Support Technician,OCTOBER 2018 - December 2019</div>
                <ul>
                    <li>Respond quickly to customer needs to ensure classroom technology works efficiently.</li>
                    <li>Ability to work efficiently in a fast-paced environment and deliver
                        systems and features with top-notch quality under tight constraints individually or team.</li>

                </ul>
            </div>


        </div>
    </div>


</div>