<div class="section" id="Experience">
    <div class="container Experience">
        <div class="text-center text-info">Work Experience</div>
       
        <div class="jumbotron">       
            <div class="row"> <div class="text-success">Internship at Medsys Software Solutions, Perrysburg, OH </div></div>
            <div class="row">
                <div class="text-info">Software-Developer , May - August 2019</div>
                    <ul>
                        <li>Developed web-application on .Net framework with C# as the server-side language that deals with homecare</li>
                        <li>Programmed with different front-end technologies such as JAVASCRIPT, AJAX, JQUERY, and worked with JSON and XML files</li>
                        <li>Utilized LINQ queries for operation of database-first entity framework</li>
                        <li>Contributed in development of product through software-lifecycle from requirement definition to successful deployment</li>
                        <li> Collaborate closely with team-members to solve problems, understand varying designs, and team coding practices              
                        </li>
                    </ul>
            </div>
        </div>

        <div class= "jumbotron">
                <div class="row"> <div class="text-success">University of Dayton Information Technology, Dayton, OH</div></div>
                <div class="row">
                        <div class="text-info">IT Support Technician,OCTOBER 2018 - December 2019</div>
                            <ul>
                                <li>Respond quickly to customer needs to ensure classroom technology works efficiently.</li>
                                <li>Ability to work efficiently in a fast-paced environment and deliver
                                     systems and features with top-notch quality under tight constraints individually or team.</li>
                               
                            </ul>
                    </div>


        </div>
</div>
             

</div>