<div class="section1" id="Projects">

        <div class="text-center text-info">Projects</div>
        <div class="container">
                <div ui-scrollfix="+100" class="yourclass">
                        <h2 class="text-success">Independent Projects</h2>
                </div>
                <h6 class="text-warning">More to follow!</h6>
                <div class="row">
                        <div class="col-sm-6 d-flex align-items-stretch">
                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Weather Web-Application</div>
                                                <p>Created a web-application using Spring boot framework,
                                                        where weather information comes from an API (OpenWeatherMap).
                                                        Users can search weather using the zip code, also have
                                                        functionality
                                                        to comment on the weather. Also added the upvote functionality.
                                                        The comment with highest upvotes will be displayed as a
                                                        ‘Feels-Like’ metric.
                                                </p>
                                                <p><a target="/blank" href="https://github.com/Bittu12345/Bittu.git"
                                                                data-toggle="tooltip" title="Git-Hub Link"
                                                                class="btn btn-info btn-sm">
                                                                Open in Git-Hub
                                                        </a></p>

                                        </div>
                                </div>
                        </div>


                        <div class="col-sm-6 d-flex align-items-stretch">
                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Retail Bank Angular Project</div>
                                                <p>Developed a Angular web-application where Clients can access their
                                                        Bank Information
                                                        coming from .Net Core API(Another individual project). Users can
                                                        login and get authenticated
                                                        based on the role logged in with. Using BASIC authentication and
                                                        users will
                                                        only have access to views they are authorized to.</p>
                                                <p><a target="/blank" href="https://github.com/Bittu12345/Retail-Bank"
                                                                data-toggle="tooltip" title="Git-Hub Link"
                                                                class="btn btn-info btn-sm">
                                                                Open in Git-Hub
                                                        </a></p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 d-flex align-items-stretch">
                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Retail Bank .Net Core API</div>
                                                <p>Developed An Authenticated Bank API using .Net MVC framework(3.1)
                                                        using C# as a server side
                                                        Programming language And used SQL and Entity Entity-Framework as
                                                        an ORM for the API.
                                                        Used Basic Authentication for Authentication and Authorization,
                                                        and perform operations which are allowed for
                                                        The front end used to request this WEBAPI is written in Angular.
                                                </p>
                                                <p><a target="/blank" href="https://github.com/Bittu12345/BANKAPI"
                                                                data-toggle="tooltip" title="Git-Hub Link"
                                                                class="btn btn-info btn-sm">
                                                                Open in Git-Hub
                                                        </a></p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 d-flex align-items-stretch">
                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">WEB Dictionary using PYTHON</div>
                                                <p>Developed a web -based dictionary application using Python and PHP
                                                        scripts, where the user enters the word needed to search and the
                                                        Python script searches for the word in JSON using
                                                        the Concept dictionary and gives results,
                                                        also displays similar words using the probability
                                                        of the word user entered</p>
                                        </div>
                                </div>
                        </div>





                </div>

                <h2 class="text-success">Course Projects at University Of Dayton</h2>
                <div class="row">

                        <div class="col-sm-6 d-flex align-items-stretch">

                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">SECURED-WEBAPLLICATION (CPS 592:
                                                        LANGUAGE BASED SECURITY): </div>
                                                <p>Created a web-Application (GAMING WEB_APP) which incorporates the
                                                        security protocols and avoiding any possible vulnerabilities
                                                        such as
                                                        SQL-INJECTION, XSS,
                                                        SESSION-HIJACKING.
                                                        Implemented using PHP, JavaScript. Database interactions done
                                                        using MySQL
                                                </p>
                                                <p><a target="/blank"
                                                                href="git clone https://tallurib1@bitbucket.org/tallurib1/ss-lbs-f18-tallurib1.git"
                                                                data-toggle="tooltip" title="Clone Link"
                                                                class="btn btn-info btn-sm">
                                                                Clone with Bit-bucket
                                                        </a></p>
                                        </div>
                                </div>

                        </div>

                        <div class="col-sm-6 d-flex align-items-stretch">

                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Implementing Markov Decision Process on
                                                        GRIDWORLD problem (CPS 580: ARTIFICIAL INTELLIGNCE): </div>
                                                <p>Implemented the MDP search algorithm on the grid-world using C++,
                                                        where based on the Current State
                                                        the A.I robot needs to decide which is the better action to take
                                                        based on the environment which is it at.
                                                </p>

                                        </div>
                                </div>

                        </div>






                </div>



                <div class="row">

                        <div class="col-sm-6 d-flex align-items-stretch">

                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Designing Own Deep-Learning Network
                                                        (CPS:592: Deep-Learning): </div>
                                                <p>Designed my own network, which is like Alex-net to recognize animals
                                                        (dog, cat, and horse) from an image. Also, created 10 layers of
                                                        neural-network for the process of image recognition and achieved
                                                        an accuracy of 72.3%.
                                                </p>
                                        </div>
                                </div>

                        </div>

                        <div class="col-sm-6 d-flex align-items-stretch">

                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Creating Puzzle Game With A.I Using A
                                                        STAR SEARCH ALGORITHM (CPS 580: ARTIFICIAL INTELLIGNCE):</div>
                                                <p>Created a puzzle game using C++ and OpenCV where the image is
                                                        generated in random order, user can rearrange to get into
                                                        original image or instead he can use the hint, where hint is the
                                                        A.I which is based on the A star Search algorithm.
                                                        It generates the optimal path where the original image can be
                                                        found.
                                                </p>

                                        </div>
                                </div>

                        </div>






                </div>

                <h2 class="text-success">Course Projects at JNTUH</h2>
                <div class="row">

                        <div class="col-sm d-flex align-items-stretch">

                                <div class="card  text-dark">
                                        <div class="card-body">
                                                <div class="card-body text-info">Social Networking Site:</div>
                                                <p>Developed social-networking site similar to Facebook, where user has
                                                        more control over the tagging, can send friend request.
                                                        Used technologies such as Java, CSS, Bootstrap and JSP. Used
                                                        MySQL for managing the database operations
                                                </p>

                                        </div>
                                </div>

                        </div>

                </div>
        </div>