
<div class="section1" id="skill">

    <div class="text-center text-info">Skills and Certifications</div>
        <div class="container">
            <h2 class="text-success">Skills</h2>
            <h6 class = "text-warning">Not just limited to few!</h6>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch"> 
                <div class="card  text-dark">
                    <div class="card-body">
                        <div class= "card-body text-info"> Object Oriented </div>         
                            <p>Excelent knowledge on Object oriented principles including languages like JAVA, C#, Python.</p>
                        </div>
                </div> 
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card  text-dark">
                        <div class="card-body">
                            <div class= "card-body text-info">MVC architectures.</div>         
                            <p>knowledge on different architectures like Spring MVC, Django.</p>
                        </div>
                </div> 
            </div>

                <div class="col-md-3 d-flex align-items-stretch">
                        <div class="card  text-dark">
                                <div class="card-body">
                                <div class= "card-body text-info">Client side Languages</div>         
                                <p>Knowledge on several front-end languages like Html, CSS, Bootstrap, Angular, JQuery, JavaScript, AJAX. </p>
                                </div>
                        </div> 
                </div>

            <div class="col-md-3 d-flex align-items-stretch">
                    <div class="card  text-dark">
                            <div class="card-body">
                            <div class= "card-body text-info">File Formats</div>         
                            <p>Knowledge on JSON and XML file formats</p>
                            </div>
                    </div> 
            </div>

        </div>  

    </div>
      
</div>

<div class = "section2">
    
    <div class="container">
                <h2 class="text-success">Certification</h2>
                
        <div class="row">
            <div class="col-md-9 d-flex align-items-stretch"> 
                <div class="card  text-dark">
                  <div class="card-body">
                    <div class= "card-body text-info">Oracle Certification</div>         
                    <p>An Oracle certified Java Associate , SE 8 </p>
                    <a href="https://www.youracclaim.com/badges/15389926-4f12-4790-b5bf-36dde405239c/linked_in_profile" target="/blank">See Credential</a>
                  </div>
                </div> 
            </div>
        </div>
    </div>
</div>
 
    
      
